h1, h2 {
  font-weight: 550;
}

h3, h4 {
  font-weight: 550;
}

@media (min-width:1200px) {
  h2 {
    padding-top: 3em !important;
  }
}

@media (min-width:1200px) {
  h3, h4 {
    padding-top: 4em !important;
  }
}

.title {
  padding-top: 0 !important;
}

body {
  font-size: 16px;
}

.navbar-fixed-top {
  background-color: #004556;
}

.navbar-brand {
  color: white !important;
}

.navbar-collapse > ul > li > a {
  color: white !important;
}

.navbar-collapse > ul > .active > a {
  border-bottom: 4px solid #ff6900 !important;
  background-color: #004556 !important;
}

.navbar-collapse > ul > li > a:hover {
  border-bottom: 4px solid #ff6900 !important;
  background-color: black !important;
}

.navbar-collapse > ul > li > a:focus {
  background-color: #ffdd00 !important;
  border-bottom: 4px solid black !important;
  color: black !important;
}

.navbar-toggle {
  color: white;
  border-width: 2px;
}

.navbar-toggle:hover {
  background-color: black !important;
  border-color: #ff6900; 
}

.navbar-toggle:focus {
  background-color: #ffdd00 !important;
  border: 2px solid black;
  color: black;
}

.tocify-item.list-group-item.active{
  background-color: #004556 !important;
}

.toggle-button {
  text-decoration: underline; 
}

.toggle-button:focus {
  background-color: #ffdd00 !important;
  border-bottom: 4px solid black !important;
  color: black !important;
}

p > a {
  text-decoration: underline; 
}

p > a:focus {
  background-color: #ffdd00 !important;
  border-bottom: 4px solid black !important;
  color: black !important;
}

ol > li > a {
  text-decoration: underline; 
}

ol > li > a:focus {
  background-color: #ffdd00 !important;
  border-bottom: 4px solid black !important;
  color: black !important;
}

.plotly.html-widget {
  max-width: 100%;
}

@media (max-width: 600px) {
  .plotly.html-widget {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media (max-width:1199px) and (min-width:768px){
  h2 {
    padding-top: 5em !important;
  }
}

@media (max-width:1199px) and (min-width:768px){
  h3, h4 {
    padding-top: 6em !important;
  }
}

@media (max-width:767px) {
  h2 {
    padding-top: 5em !important;
  }
}

@media (max-width:767pxpx) {
  h3, h4 {
    padding-top: 7em !important;
  }
}
